n8n-workflows/ae-compute-server.json
{
  "name": "ae-compute-server",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ae/compute",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "solve",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "solve"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "sweep",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sweep"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "pattern",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pattern"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "mom",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "mom"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "route-type",
      "name": "Route by Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [440, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/api/solve",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ antenna_type: $('Webhook').item.json.body.antenna_type, frequency: $('Webhook').item.json.body.frequency, parameters: $('Webhook').item.json.body.parameters }) }}",
        "options": {
          "timeout": 60000,
          "response": { "response": { "fullResponse": true } }
        }
      },
      "id": "http-solve",
      "name": "Axum Solve",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/api/sweep",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ antenna_type: $('Webhook').item.json.body.antenna_type, frequency: $('Webhook').item.json.body.frequency, parameters: $('Webhook').item.json.body.parameters }) }}",
        "options": {
          "timeout": 120000,
          "response": { "response": { "fullResponse": true } }
        }
      },
      "id": "http-sweep",
      "name": "Axum Sweep",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/api/pattern",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ antenna_type: $('Webhook').item.json.body.antenna_type, frequency: $('Webhook').item.json.body.frequency, parameters: $('Webhook').item.json.body.parameters }) }}",
        "options": {
          "timeout": 120000,
          "response": { "response": { "fullResponse": true } }
        }
      },
      "id": "http-pattern",
      "name": "Axum Pattern",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/api/mom",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ antenna_type: $('Webhook').item.json.body.antenna_type, frequency: $('Webhook').item.json.body.frequency, parameters: $('Webhook').item.json.body.parameters }) }}",
        "options": {
          "timeout": 30000,
          "response": { "response": { "fullResponse": true } }
        }
      },
      "id": "http-mom-submit",
      "name": "MoM Submit Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 800]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "wait-mom",
      "name": "Wait MoM",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [960, 800]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://localhost:3001/api/mom/status/{{ $('MoM Submit Job').item.json.body.job_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": { "response": { "fullResponse": true } }
        }
      },
      "id": "http-mom-poll",
      "name": "MoM Poll Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 800]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.body.status }}",
              "rightValue": "completed",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-mom-done",
      "name": "MoM Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1440, 800]
    },
    {
      "parameters": {
        "jsCode": "const request = $('Webhook').item.json.body;\nconst results = $input.item.json.body || $input.item.json;\n\nreturn [{\n  json: {\n    simulation_type: request.type,\n    antenna_type: request.antenna_type,\n    frequency: request.frequency,\n    parameters: request.parameters,\n    results: results\n  }\n}];"
      },
      "id": "prepare-solve",
      "name": "Prepare for AI (Solve)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 200]
    },
    {
      "parameters": {
        "jsCode": "const request = $('Webhook').item.json.body;\nconst results = $input.item.json.body || $input.item.json;\n\nreturn [{\n  json: {\n    simulation_type: request.type,\n    antenna_type: request.antenna_type,\n    frequency: request.frequency,\n    parameters: request.parameters,\n    results: results\n  }\n}];"
      },
      "id": "prepare-sweep",
      "name": "Prepare for AI (Sweep)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 400]
    },
    {
      "parameters": {
        "jsCode": "const request = $('Webhook').item.json.body;\nconst results = $input.item.json.body || $input.item.json;\n\nreturn [{\n  json: {\n    simulation_type: request.type,\n    antenna_type: request.antenna_type,\n    frequency: request.frequency,\n    parameters: request.parameters,\n    results: results\n  }\n}];"
      },
      "id": "prepare-pattern",
      "name": "Prepare for AI (Pattern)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 600]
    },
    {
      "parameters": {
        "jsCode": "const request = $('Webhook').item.json.body;\nconst results = $input.item.json.body || $input.item.json;\n\nreturn [{\n  json: {\n    simulation_type: request.type,\n    antenna_type: request.antenna_type,\n    frequency: request.frequency,\n    parameters: request.parameters,\n    results: results\n  }\n}];"
      },
      "id": "prepare-mom",
      "name": "Prepare for AI (MoM)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 800]
    },
    {
      "parameters": {
        "text": "You are an antenna RF engineer. Analyze these simulation results.\n\nSimulation type: {{ $json.simulation_type }}\nAntenna type: {{ $json.antenna_type }}\nFrequency: {{ $json.frequency }} Hz\nParameters: {{ JSON.stringify($json.parameters) }}\n\nResults:\n{{ JSON.stringify($json.results, null, 2) }}\n\nProvide:\n1) Performance assessment (impedance, S11, gain, efficiency, bandwidth if sweep)\n2) Impedance matching recommendations (L-network, stub, quarter-wave transformer)\n3) Design optimization suggestions (dimensions, feed position, substrate)\n\nBe concise. Use bullet points. Include specific numeric values.",
        "options": {
          "systemMessage": "You are a senior antenna RF engineer with 20+ years of experience. You analyze simulation results from PROMIN Antenna Studio's MoM/FDTD solver. Always reference specific numeric values from results. Recommend practical matching networks with component values. Suggest concrete parameter changes with expected improvements."
        },
        "promptType": "define"
      },
      "id": "ai-analyze",
      "name": "Claude AI Analysis",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-6",
          "mode": "list",
          "cachedResultName": "claude-opus-4-6"
        },
        "maxTokensToSample": 16384,
        "temperature": 0.2,
        "options": {}
      },
      "id": "opus-llm",
      "name": "Opus LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [1200, 680],
      "credentials": {
        "anthropicApi": {
          "id": "xyS2ZoWkkNPBoTTS",
          "name": "Anthropic"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const request = $('Webhook').item.json.body;\nconst aiOutput = $('Claude AI Analysis').item.json.output || '';\nconst simResults = $json.results || $('Claude AI Analysis').item.json.results || {};\n\nreturn [{\n  json: {\n    status: 'success',\n    simulation_type: request.type,\n    antenna_type: request.antenna_type,\n    frequency: request.frequency,\n    parameters: request.parameters,\n    results: simResults,\n    ai_analysis: aiOutput,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json, null, 2) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "X-Powered-By", "value": "PROMIN Antenna Studio" }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1740, 400]
    },
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [200, 900]
    },
    {
      "parameters": {
        "jsCode": "const error = $input.item.json;\nconst errorMsg = {\n  status: 'error',\n  error: error.execution?.error?.message || 'Unknown error',\n  node: error.execution?.lastNodeExecuted || 'unknown',\n  workflow: 'ae-compute-server',\n  timestamp: new Date().toISOString()\n};\n\n// Log to console for debugging\nconsole.error('ae-compute-server error:', JSON.stringify(errorMsg));\n\nreturn [{ json: errorMsg }];"
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 900]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Route by Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Type": {
      "main": [
        [
          {
            "node": "Axum Solve",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Axum Sweep",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Axum Pattern",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MoM Submit Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Axum Solve": {
      "main": [
        [
          {
            "node": "Prepare for AI (Solve)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Axum Sweep": {
      "main": [
        [
          {
            "node": "Prepare for AI (Sweep)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Axum Pattern": {
      "main": [
        [
          {
            "node": "Prepare for AI (Pattern)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MoM Submit Job": {
      "main": [
        [
          {
            "node": "Wait MoM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait MoM": {
      "main": [
        [
          {
            "node": "MoM Poll Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MoM Poll Status": {
      "main": [
        [
          {
            "node": "MoM Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MoM Complete?": {
      "main": [
        [
          {
            "node": "Prepare for AI (MoM)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait MoM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for AI (Solve)": {
      "main": [
        [
          {
            "node": "Claude AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for AI (Sweep)": {
      "main": [
        [
          {
            "node": "Claude AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for AI (Pattern)": {
      "main": [
        [
          {
            "node": "Claude AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for AI (MoM)": {
      "main": [
        [
          {
            "node": "Claude AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude AI Analysis": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opus LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Claude AI Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "promin-antenna-studio"
  },
  "tags": [
    { "name": "antenna-engine" },
    { "name": "compute" },
    { "name": "real-time" }
  ],
  "active": true
}