n8n-workflows/ae-regression-test.json
{
  "name": "ae-regression-test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ae/regression",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 3AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 600]
    },
    {
      "parameters": {
        "jsCode": "const testCases = [\n  // ========== WIRE ANTENNAS (8 types) ==========\n  // half_wave_dipole: King's method, L=λ/2, Z≈73+j42 at resonance\n  { name: \"half_wave_dipole_145MHz\", type: \"solve\", params: { antenna_type: \"half_wave_dipole\", frequency: 145e6, parameters: { length_m: 1.034 } }, expected: { z_re: [60, 90], z_im: [-20, 60], gain_dbi: [1.5, 2.8] } },\n  { name: \"half_wave_dipole_2.4GHz\", type: \"solve\", params: { antenna_type: \"half_wave_dipole\", frequency: 2.4e9, parameters: { length_m: 0.0625 } }, expected: { z_re: [60, 90], z_im: [-50, 60], gain_dbi: [1.5, 2.8] } },\n  { name: \"half_wave_dipole_5.8GHz\", type: \"solve\", params: { antenna_type: \"half_wave_dipole\", frequency: 5.8e9, parameters: { length_m: 0.0259 } }, expected: { z_re: [60, 90], z_im: [-50, 60], gain_dbi: [1.5, 2.8] } },\n  // quarter_wave_monopole: wire solver with L=λ/4\n  { name: \"quarter_wave_monopole_433MHz\", type: \"solve\", params: { antenna_type: \"quarter_wave_monopole\", frequency: 433e6, parameters: { length_m: 0.173 } }, expected: { z_re: [60, 90], z_im: [-60, 10], gain_dbi: [2.0, 5.5] } },\n  { name: \"quarter_wave_monopole_900MHz\", type: \"solve\", params: { antenna_type: \"quarter_wave_monopole\", frequency: 900e6, parameters: { length_m: 0.083 } }, expected: { z_re: [60, 90], z_im: [-60, 10], gain_dbi: [2.0, 5.5] } },\n  // yagi_uda: wire solver\n  { name: \"yagi_uda_145MHz_3el\", type: \"solve\", params: { antenna_type: \"yagi_uda\", frequency: 145e6, parameters: { length_m: 1.034 } }, expected: { z_re: [60, 90], z_im: [-20, 60], gain_dbi: [6.0, 20.0] } },\n  { name: \"yagi_uda_432MHz_5el\", type: \"solve\", params: { antenna_type: \"yagi_uda\", frequency: 432e6, parameters: { length_m: 0.347 } }, expected: { z_re: [60, 90], z_im: [-20, 60], gain_dbi: [6.0, 20.0] } },\n  // folded_dipole: wire solver, same physics as dipole (real=300Ω in practice, but our solver uses generic wire)\n  { name: \"folded_dipole_145MHz\", type: \"solve\", params: { antenna_type: \"folded_dipole\", frequency: 145e6, parameters: { length_m: 1.034 } }, expected: { z_re: [60, 90], z_im: [-20, 60], gain_dbi: [1.5, 2.8] } },\n  // axial_helix: wire solver\n  { name: \"axial_helix_435MHz\", type: \"solve\", params: { antenna_type: \"axial_helix\", frequency: 435e6, parameters: { length_m: 0.345 } }, expected: { z_re: [60, 90], z_im: [-20, 60], gain_dbi: [10.0, 20.0] } },\n  // log_periodic: wire solver\n  { name: \"log_periodic_300MHz\", type: \"solve\", params: { antenna_type: \"log_periodic\", frequency: 300e6, parameters: { length_m: 0.5 } }, expected: { z_re: [60, 90], z_im: [-20, 60], gain_dbi: [6.0, 12.0] } },\n  // small_loop: wire solver (L=circumference, not λ/2)\n  { name: \"small_loop_14MHz\", type: \"solve\", params: { antenna_type: \"small_loop\", frequency: 14e6, parameters: { length_m: 1.0 } }, expected: { z_re: [60, 120], z_im: [-200, 200], gain_dbi: [-20.0, 0.0] } },\n  // quadrifilar_helix: wire solver\n  { name: \"quadrifilar_helix_137MHz\", type: \"solve\", params: { antenna_type: \"quadrifilar_helix\", frequency: 137.5e6, parameters: { length_m: 1.09 } }, expected: { z_re: [60, 90], z_im: [-20, 60], gain_dbi: [0.0, 8.0] } },\n\n  // ========== MICROSTRIP ANTENNAS (5 types) ==========\n  // rectangular_patch: cavity model (Hammerstad-Jensen)\n  { name: \"rectangular_patch_2.4GHz_fr4\", type: \"solve\", params: { antenna_type: \"rectangular_patch\", frequency: 2.4e9, parameters: { width_m: 0.038, substrate_er: 4.4, substrate_height_m: 0.0016 } }, expected: { z_re: [50, 400], z_im: [-150, 150], gain_dbi: [3.0, 9.0] } },\n  { name: \"rectangular_patch_5.8GHz\", type: \"solve\", params: { antenna_type: \"rectangular_patch\", frequency: 5.8e9, parameters: { width_m: 0.0158, substrate_er: 4.4, substrate_height_m: 0.0008 } }, expected: { z_re: [50, 400], z_im: [-150, 150], gain_dbi: [3.0, 9.0] } },\n  { name: \"rectangular_patch_915MHz_rogers\", type: \"solve\", params: { antenna_type: \"rectangular_patch\", frequency: 915e6, parameters: { width_m: 0.103, substrate_er: 3.55, substrate_height_m: 0.00152 } }, expected: { z_re: [50, 400], z_im: [-150, 150], gain_dbi: [3.0, 9.0] } },\n  // circular_patch: same microstrip solver\n  { name: \"circular_patch_2.4GHz\", type: \"solve\", params: { antenna_type: \"circular_patch\", frequency: 2.4e9, parameters: { substrate_er: 4.4, substrate_height_m: 0.0016 } }, expected: { z_re: [50, 400], z_im: [-150, 150], gain_dbi: [3.0, 9.0] } },\n  // inset_fed_patch\n  { name: \"inset_fed_patch_2.4GHz\", type: \"solve\", params: { antenna_type: \"inset_fed_patch\", frequency: 2.4e9, parameters: { substrate_er: 4.4, substrate_height_m: 0.0016 } }, expected: { z_re: [30, 400], z_im: [-150, 150], gain_dbi: [3.0, 9.0] } },\n  // pifa\n  { name: \"pifa_2.4GHz\", type: \"solve\", params: { antenna_type: \"pifa\", frequency: 2.4e9, parameters: { substrate_er: 4.4, substrate_height_m: 0.0016 } }, expected: { z_re: [20, 400], z_im: [-200, 200], gain_dbi: [2.0, 6.0] } },\n  // inverted_f\n  { name: \"inverted_f_2.4GHz\", type: \"solve\", params: { antenna_type: \"inverted_f\", frequency: 2.4e9, parameters: { substrate_er: 4.4, substrate_height_m: 0.0016 } }, expected: { z_re: [20, 400], z_im: [-200, 200], gain_dbi: [0.0, 5.0] } },\n\n  // ========== BROADBAND ANTENNAS (5 types) ==========\n  // vivaldi_tsa: Klopfenstein taper, zFeed=75Ω\n  { name: \"vivaldi_tsa_3GHz\", type: \"solve\", params: { antenna_type: \"vivaldi_tsa\", frequency: 3e9, parameters: { length_m: 0.05, radius_m: 0.001 } }, expected: { z_re: [30, 300], z_im: [-100, 100], gain_dbi: [6.0, 15.0] } },\n  { name: \"vivaldi_tsa_6GHz\", type: \"solve\", params: { antenna_type: \"vivaldi_tsa\", frequency: 6e9, parameters: { length_m: 0.025, radius_m: 0.0005 } }, expected: { z_re: [30, 300], z_im: [-100, 100], gain_dbi: [6.0, 15.0] } },\n  // bow_tie: zFeed=100Ω\n  { name: \"bow_tie_1GHz\", type: \"solve\", params: { antenna_type: \"bow_tie\", frequency: 1e9, parameters: { length_m: 0.15, radius_m: 0.002 } }, expected: { z_re: [30, 400], z_im: [-150, 150], gain_dbi: [2.0, 8.0] } },\n  // archimedean_spiral: zFeed=188Ω\n  { name: \"archimedean_spiral_2GHz\", type: \"solve\", params: { antenna_type: \"archimedean_spiral\", frequency: 2e9, parameters: { length_m: 0.075, radius_m: 0.001 } }, expected: { z_re: [50, 500], z_im: [-150, 150], gain_dbi: [3.0, 8.0] } },\n  // discone: zFeed=50Ω\n  { name: \"discone_300MHz\", type: \"solve\", params: { antenna_type: \"discone\", frequency: 300e6, parameters: { length_m: 0.5, radius_m: 0.005 } }, expected: { z_re: [20, 300], z_im: [-100, 100], gain_dbi: [0.0, 6.0] } },\n  // biconical: zFeed=73Ω\n  { name: \"biconical_500MHz\", type: \"solve\", params: { antenna_type: \"biconical\", frequency: 500e6, parameters: { length_m: 0.3, radius_m: 0.003 } }, expected: { z_re: [30, 300], z_im: [-100, 100], gain_dbi: [2.0, 6.0] } },\n\n  // ========== APERTURE ANTENNAS (5 types) ==========\n  // pyramidal_horn: waveguide model above cutoff\n  { name: \"pyramidal_horn_10GHz\", type: \"solve\", params: { antenna_type: \"pyramidal_horn\", frequency: 10e9, parameters: { aperture_width: 0.06, aperture_height: 0.04 } }, expected: { z_re: [200, 600], z_im: [-100, 50], gain_dbi: [10.0, 25.0] } },\n  // conical_horn: TE11 mode\n  { name: \"conical_horn_10GHz\", type: \"solve\", params: { antenna_type: \"conical_horn\", frequency: 10e9, parameters: { aperture_width: 0.05, horn_radius: 0.025 } }, expected: { z_re: [200, 600], z_im: [-100, 50], gain_dbi: [10.0, 25.0] } },\n  // rectangular_slot: aperture model\n  { name: \"rectangular_slot_5.8GHz\", type: \"solve\", params: { antenna_type: \"rectangular_slot\", frequency: 5.8e9, parameters: { aperture_width: 0.04, aperture_height: 0.02 } }, expected: { z_re: [100, 600], z_im: [-200, 100], gain_dbi: [2.0, 6.0] } },\n  // open_waveguide: aperture model\n  { name: \"open_waveguide_10GHz\", type: \"solve\", params: { antenna_type: \"open_waveguide\", frequency: 10e9, parameters: { aperture_width: 0.023, aperture_height: 0.01 } }, expected: { z_re: [200, 700], z_im: [-200, 100], gain_dbi: [6.0, 15.0] } },\n  // parabolic_reflector: dish model\n  { name: \"parabolic_reflector_12GHz\", type: \"solve\", params: { antenna_type: \"parabolic_reflector\", frequency: 12e9, parameters: { diameter: 0.6, focal_ratio: 0.35 } }, expected: { z_re: [10, 250], z_im: [-50, 50], gain_dbi: [20.0, 60.0] } },\n  { name: \"parabolic_reflector_4GHz\", type: \"solve\", params: { antenna_type: \"parabolic_reflector\", frequency: 4e9, parameters: { diameter: 1.8, focal_ratio: 0.4 } }, expected: { z_re: [10, 250], z_im: [-50, 50], gain_dbi: [20.0, 60.0] } },\n\n  // ========== ARRAY ANTENNAS (4 types) ==========\n  // uniform_linear_array: Induced EMF mutual coupling\n  { name: \"uniform_linear_array_2.4GHz_4el\", type: \"solve\", params: { antenna_type: \"uniform_linear_array\", frequency: 2.4e9, parameters: { num_elements: 4, element_spacing: 0.0625, length_m: 0.0625 } }, expected: { z_re: [5, 150], z_im: [-100, 100], gain_dbi: [3.0, 25.0] } },\n  { name: \"uniform_linear_array_2.4GHz_8el\", type: \"solve\", params: { antenna_type: \"uniform_linear_array\", frequency: 2.4e9, parameters: { num_elements: 8, element_spacing: 0.0625, length_m: 0.0625 } }, expected: { z_re: [5, 150], z_im: [-100, 100], gain_dbi: [3.0, 25.0] } },\n  // planar_patch_array\n  { name: \"planar_patch_array_5.8GHz\", type: \"solve\", params: { antenna_type: \"planar_patch_array\", frequency: 5.8e9, parameters: { num_elements: 4, element_spacing: 0.026, length_m: 0.026 } }, expected: { z_re: [5, 150], z_im: [-100, 100], gain_dbi: [15.0, 35.0] } },\n  // phased_array\n  { name: \"phased_array_10GHz\", type: \"solve\", params: { antenna_type: \"phased_array\", frequency: 10e9, parameters: { num_elements: 16, element_spacing: 0.015, length_m: 0.015 } }, expected: { z_re: [5, 150], z_im: [-100, 100], gain_dbi: [15.0, 50.0] } },\n  // butler_matrix_array\n  { name: \"butler_matrix_array_5.8GHz\", type: \"solve\", params: { antenna_type: \"butler_matrix_array\", frequency: 5.8e9, parameters: { num_elements: 4, element_spacing: 0.026, length_m: 0.026 } }, expected: { z_re: [5, 150], z_im: [-100, 100], gain_dbi: [10.0, 25.0] } },\n\n  // ========== SPECIAL ANTENNAS (4 types) ==========\n  // dielectric_resonator: Q=50\n  { name: \"dielectric_resonator_5.8GHz\", type: \"solve\", params: { antenna_type: \"dielectric_resonator\", frequency: 5.8e9, parameters: { length_m: 0.026 } }, expected: { z_re: [5, 80], z_im: [-80, 80], gain_dbi: [3.0, 8.0] } },\n  // metamaterial_antenna: Q=3 (wideband)\n  { name: \"metamaterial_antenna_2.4GHz\", type: \"solve\", params: { antenna_type: \"metamaterial_antenna\", frequency: 2.4e9, parameters: { length_m: 0.0625 } }, expected: { z_re: [5, 80], z_im: [-80, 80], gain_dbi: [3.0, 25.0] } },\n  // sierpinski_fractal: Q=15\n  { name: \"sierpinski_fractal_2.4GHz\", type: \"solve\", params: { antenna_type: \"sierpinski_fractal\", frequency: 2.4e9, parameters: { length_m: 0.0625 } }, expected: { z_re: [5, 80], z_im: [-80, 80], gain_dbi: [2.0, 6.0] } },\n  // reconfigurable_antenna: Q=20\n  { name: \"reconfigurable_antenna_2.4GHz\", type: \"solve\", params: { antenna_type: \"reconfigurable_antenna\", frequency: 2.4e9, parameters: { length_m: 0.0625 } }, expected: { z_re: [5, 80], z_im: [-80, 80], gain_dbi: [-5.0, 25.0] } },\n\n  // ========== FREQUENCY SWEEPS (6 categories) ==========\n  { name: \"sweep_dipole_120_170MHz\", type: \"sweep\", params: { antenna_type: \"half_wave_dipole\", frequency: 145e6, parameters: { length_m: 1.034, freq_start: 120e6, freq_stop: 170e6, num_points: 51 } }, expected: { resonance_mhz: [130, 160], min_s11_db: [-40, -10], bw_10db_mhz: [5, 30] } },\n  { name: \"sweep_patch_2_3GHz\", type: \"sweep\", params: { antenna_type: \"rectangular_patch\", frequency: 2.4e9, parameters: { width_m: 0.038, substrate_er: 4.4, substrate_height_m: 0.0016, freq_start: 2.0e9, freq_stop: 3.0e9, num_points: 51 } }, expected: { resonance_mhz: [2100, 2700], min_s11_db: [-40, -5], bw_10db_mhz: [20, 200] } },\n  { name: \"sweep_vivaldi_1_5GHz\", type: \"sweep\", params: { antenna_type: \"vivaldi_tsa\", frequency: 3e9, parameters: { length_m: 0.05, radius_m: 0.001, freq_start: 1e9, freq_stop: 5e9, num_points: 41 } }, expected: { min_s11_db: [-40, -3], bw_10db_mhz: [500, 4000] } },\n  { name: \"sweep_horn_8_12GHz\", type: \"sweep\", params: { antenna_type: \"pyramidal_horn\", frequency: 10e9, parameters: { aperture_width: 0.06, aperture_height: 0.04, freq_start: 8e9, freq_stop: 12e9, num_points: 41 } }, expected: { min_s11_db: [-30, -3] } },\n  { name: \"sweep_array_2_3GHz\", type: \"sweep\", params: { antenna_type: \"uniform_linear_array\", frequency: 2.4e9, parameters: { num_elements: 4, element_spacing: 0.0625, length_m: 0.0625, freq_start: 2e9, freq_stop: 3e9, num_points: 51 } }, expected: { min_s11_db: [-40, -3] } },\n  { name: \"sweep_fractal_1.5_3.5GHz\", type: \"sweep\", params: { antenna_type: \"sierpinski_fractal\", frequency: 2.4e9, parameters: { length_m: 0.0625, freq_start: 1.5e9, freq_stop: 3.5e9, num_points: 41 } }, expected: { min_s11_db: [-40, -5] } },\n\n  // ========== RADIATION PATTERNS (6 categories) ==========\n  { name: \"pattern_dipole_145MHz\", type: \"pattern\", params: { antenna_type: \"half_wave_dipole\", frequency: 145e6, parameters: { length_m: 1.034, theta_points: 91, phi_points: 73 } }, expected: { max_gain_dbi: [1.5, 3.0], pattern_type: \"omnidirectional\" } },\n  { name: \"pattern_patch_2.4GHz\", type: \"pattern\", params: { antenna_type: \"rectangular_patch\", frequency: 2.4e9, parameters: { theta_points: 91, phi_points: 73 } }, expected: { max_gain_dbi: [4.0, 10.0], pattern_type: \"broadside\" } },\n  { name: \"pattern_vivaldi_3GHz\", type: \"pattern\", params: { antenna_type: \"vivaldi_tsa\", frequency: 3e9, parameters: { theta_points: 91, phi_points: 73 } }, expected: { max_gain_dbi: [2.0, 8.0], pattern_type: \"directional\" } },\n  { name: \"pattern_horn_10GHz\", type: \"pattern\", params: { antenna_type: \"pyramidal_horn\", frequency: 10e9, parameters: { theta_points: 91, phi_points: 73 } }, expected: { max_gain_dbi: [10.0, 20.0], pattern_type: \"directional\" } },\n  { name: \"pattern_array_2.4GHz\", type: \"pattern\", params: { antenna_type: \"uniform_linear_array\", frequency: 2.4e9, parameters: { theta_points: 91, phi_points: 73 } }, expected: { max_gain_dbi: [8.0, 15.0], pattern_type: \"directional\" } },\n  { name: \"pattern_special_2.4GHz\", type: \"pattern\", params: { antenna_type: \"sierpinski_fractal\", frequency: 2.4e9, parameters: { theta_points: 91, phi_points: 73 } }, expected: { max_gain_dbi: [1.0, 6.0], pattern_type: \"cardioid\" } },\n\n  // ========== MoM CONVERGENCE (wire + surface) ==========\n  { name: \"mom_dipole_21seg\", type: \"mom\", params: { antenna_type: \"half_wave_dipole\", frequency: 145e6, parameters: { length_m: 1.034, segments: 21 } }, expected: { z_re: [65, 82], z_im: [30, 55], convergence: true } },\n  { name: \"mom_dipole_41seg\", type: \"mom\", params: { antenna_type: \"half_wave_dipole\", frequency: 145e6, parameters: { length_m: 1.034, segments: 41 } }, expected: { z_re: [68, 80], z_im: [35, 50], convergence: true } },\n  { name: \"mom_patch_surface\", type: \"mom\", params: { antenna_type: \"rectangular_patch\", frequency: 2.4e9, parameters: { width_m: 0.038, substrate_er: 4.4, substrate_height_m: 0.0016 } }, expected: { z_re: [50, 400], z_im: [-150, 150], convergence: true } },\n\n  // ========== EDGE CASES ==========\n  { name: \"edge_very_short_dipole\", type: \"solve\", params: { antenna_type: \"half_wave_dipole\", frequency: 300e6, parameters: { length_m: 0.01 } }, expected: { z_re: [60, 120], z_im: [-5000, 5000], gain_dbi: [-5.0, 2.8] } },\n  { name: \"edge_resonant_length\", type: \"solve\", params: { antenna_type: \"half_wave_dipole\", frequency: 300e6, parameters: { length_m: 0.48 } }, expected: { z_re: [60, 90], z_im: [-30, 30], gain_dbi: [1.5, 2.8] } },\n  { name: \"edge_thick_dipole\", type: \"solve\", params: { antenna_type: \"half_wave_dipole\", frequency: 300e6, parameters: { length_m: 0.5, radius_m: 0.01 } }, expected: { z_re: [55, 90], z_im: [-60, 60], gain_dbi: [1.5, 2.8] } },\n  { name: \"edge_below_cutoff_horn\", type: \"solve\", params: { antenna_type: \"pyramidal_horn\", frequency: 5e9, parameters: { aperture_width: 0.03 } }, expected: { z_re: [1, 50], z_im: [-500, -50] } },\n  { name: \"edge_high_Q_DRA\", type: \"solve\", params: { antenna_type: \"dielectric_resonator\", frequency: 5.8e9, parameters: { length_m: 0.013 } }, expected: { z_re: [5, 80], z_im: [-100, 100] } },\n  { name: \"edge_large_array_32el\", type: \"solve\", params: { antenna_type: \"phased_array\", frequency: 10e9, parameters: { num_elements: 32, element_spacing: 0.015, length_m: 0.015 } }, expected: { z_re: [5, 200], z_im: [-150, 150] } }\n];\n\nreturn testCases.map(tc => ({ json: tc }));"
      },
      "id": "define-tests",
      "name": "Define 55 Test Cases",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 400]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "split-batches",
      "name": "Batch of 5",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [720, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:3001/api/{{ $json.type }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.params) }}",
        "options": {
          "timeout": 120000,
          "response": { "response": { "fullResponse": true } },
          "allowUnauthorizedCerts": false
        }
      },
      "id": "http-solver",
      "name": "Run Solver",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 400]
    },
    {
      "parameters": {
        "jsCode": "const testCase = $('Batch of 5').item.json;\nconst response = $input.item.json;\nconst results = response.body || response;\nconst expected = testCase.expected;\nconst failures = [];\nlet passed = true;\n\nfunction checkRange(actual, range, label) {\n  if (actual === undefined || actual === null) {\n    failures.push(`${label}: missing value`);\n    return false;\n  }\n  if (actual < range[0] || actual > range[1]) {\n    failures.push(`${label}: ${actual.toFixed(4)} not in [${range[0]}, ${range[1]}]`);\n    return false;\n  }\n  return true;\n}\n\n// Check impedance for solve/mom types\nif (testCase.type === 'solve' || testCase.type === 'mom') {\n  if (expected.z_re) {\n    const z_re = results.impedance?.real ?? results.z_re ?? results.input_impedance?.real;\n    if (!checkRange(z_re, expected.z_re, 'Z_re')) passed = false;\n  }\n  if (expected.z_im) {\n    const z_im = results.impedance?.imag ?? results.z_im ?? results.input_impedance?.imag;\n    if (!checkRange(z_im, expected.z_im, 'Z_im')) passed = false;\n  }\n  if (expected.gain_dbi) {\n    const gain = results.gain_dbi ?? results.max_gain_dbi ?? results.gain;\n    if (!checkRange(gain, expected.gain_dbi, 'Gain')) passed = false;\n  }\n}\n\n// Check sweep results\nif (testCase.type === 'sweep') {\n  if (expected.resonance_mhz) {\n    const res_freq = (results.resonance_frequency ?? results.resonant_frequency ?? 0) / 1e6;\n    if (!checkRange(res_freq, expected.resonance_mhz, 'Resonance MHz')) passed = false;\n  }\n  if (expected.min_s11_db) {\n    const min_s11 = results.min_s11_db ?? results.s11_min ?? results.min_s11 ?? 0;\n    if (!checkRange(min_s11, expected.min_s11_db, 'Min S11')) passed = false;\n  }\n  if (expected.bw_10db_mhz) {\n    const bw = (results.bandwidth_10db ?? results.bandwidth ?? 0) / 1e6;\n    if (!checkRange(bw, expected.bw_10db_mhz, 'BW -10dB MHz')) passed = false;\n  }\n  // VSWR check: at resonance should be < 3\n  if (results.s11_db) {\n    const s11arr = results.s11_db;\n    const minS11 = Math.min(...s11arr);\n    const mag = Math.pow(10, minS11 / 20);\n    const vswr = (1 + mag) / (1 - Math.min(mag, 0.9999));\n    if (vswr > 3) {\n      failures.push('VSWR at resonance: ' + vswr.toFixed(2) + ' > 3');\n      passed = false;\n    }\n  }\n}\n\n// Check pattern results\nif (testCase.type === 'pattern') {\n  if (expected.max_gain_dbi) {\n    const gain = results.max_gain_dbi ?? results.max_gain ?? results.peak_gain ?? 0;\n    if (!checkRange(gain, expected.max_gain_dbi, 'Max Gain')) passed = false;\n  }\n  // Gain must be > 0 for directional antennas\n  const gain = results.max_gain_dbi ?? results.max_gain ?? 0;\n  if (gain <= 0 && expected.pattern_type !== 'isotropic') {\n    failures.push('Gain <= 0 dBi for non-isotropic antenna: ' + gain.toFixed(2));\n    passed = false;\n  }\n}\n\nreturn [{\n  json: {\n    test_name: testCase.name,\n    type: testCase.type,\n    passed,\n    failures,\n    expected,\n    actual_summary: {\n      z_re: results.impedance?.real ?? results.z_re,\n      z_im: results.impedance?.imag ?? results.z_im,\n      gain_dbi: results.gain_dbi ?? results.max_gain_dbi,\n      s11_db: results.s11_db ?? results.min_s11_db\n    },\n    raw_response: results\n  }\n}];"
      },
      "id": "compare-results",
      "name": "Compare Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge-all",
      "name": "Merge All Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1440, 400]
    },
    {
      "parameters": {
        "jsCode": "const allResults = $input.all().map(i => i.json);\nconst total = allResults.length;\nconst passed = allResults.filter(r => r.passed).length;\nconst failed = allResults.filter(r => !r.passed);\nconst passRate = ((passed / total) * 100).toFixed(1);\n\nconst summary = {\n  timestamp: new Date().toISOString(),\n  total_tests: total,\n  passed,\n  failed: total - passed,\n  pass_rate: `${passRate}%`,\n  status: failed.length === 0 ? 'ALL_PASS' : 'REGRESSION_DETECTED',\n  failures: failed.map(f => ({\n    test: f.test_name,\n    type: f.type,\n    issues: f.failures,\n    actual: f.actual_summary\n  })),\n  results_by_type: {\n    solve: allResults.filter(r => r.type === 'solve'),\n    sweep: allResults.filter(r => r.type === 'sweep'),\n    pattern: allResults.filter(r => r.type === 'pattern'),\n    mom: allResults.filter(r => r.type === 'mom')\n  }\n};\n\nreturn [{ json: summary }];"
      },
      "id": "gen-summary",
      "name": "Generate Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.failed }}",
              "rightValue": "0",
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-failures",
      "name": "Any Failures?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1920, 400]
    },
    {
      "parameters": {
        "text": "Regression test failures detected in PROMIN Antenna Studio solver.\n\nSummary:\n- Total tests: {{ $json.total_tests }}\n- Passed: {{ $json.passed }}\n- Failed: {{ $json.failed }}\n- Pass rate: {{ $json.pass_rate }}\n\nFailed tests:\n{{ JSON.stringify($json.failures, null, 2) }}\n\nAnalyze each failure:\n1. Is this a real regression or a test tolerance issue?\n2. What solver component likely caused the regression?\n3. Suggest specific code fixes with file paths\n4. Priority: critical (>20% deviation) / warning (5-20%) / info (<5%)\n\nFormat as structured JSON with fields: analysis, root_cause, suggested_fixes, priority",
        "options": {
          "systemMessage": "You are a CEM validation expert analyzing regression test results for an antenna simulation tool (MoM/FDTD). Known reference values: half-wave dipole Z=73+j42, monopole Z=36.5, patch gain 6-8 dBi. Be precise about what changed and why."
        },
        "promptType": "define"
      },
      "id": "ai-analyze-failures",
      "name": "Claude Analyze Failures",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [2200, 300]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-6",
          "mode": "list",
          "cachedResultName": "claude-opus-4-6"
        },
        "maxTokensToSample": 16384,
        "temperature": 0.1,
        "options": {}
      },
      "id": "opus-llm",
      "name": "Opus LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [2200, 580],
      "credentials": {
        "anthropicApi": {
          "id": "xyS2ZoWkkNPBoTTS",
          "name": "Anthropic"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const summary = $('Generate Summary').item.json;\nconst aiAnalysis = $('Claude Analyze Failures').item.json.output || 'No AI analysis';\n\nconst report = [\n  '# PROMIN Antenna Studio — Regression Test Report',\n  '',\n  `**Date:** ${summary.timestamp}`,\n  `**Status:** ${summary.status}`,\n  `**Pass Rate:** ${summary.pass_rate} (${summary.passed}/${summary.total_tests})`,\n  '',\n  '## Summary',\n  '',\n  `| Metric | Value |`,\n  `|--------|-------|`,\n  `| Total Tests | ${summary.total_tests} |`,\n  `| Passed | ${summary.passed} |`,\n  `| Failed | ${summary.failed} |`,\n  '',\n];\n\nif (summary.failures.length > 0) {\n  report.push('## Failures', '');\n  for (const f of summary.failures) {\n    report.push(`### ${f.test} (${f.type})`);\n    report.push(`- Issues: ${f.issues.join(', ')}`);\n    report.push(`- Actual: Z_re=${f.actual?.z_re}, Z_im=${f.actual?.z_im}, Gain=${f.actual?.gain_dbi} dBi`);\n    report.push('');\n  }\n  report.push('## AI Analysis', '', aiAnalysis, '');\n}\n\nreport.push('## All Results by Type', '');\nfor (const [type, results] of Object.entries(summary.results_by_type)) {\n  if (results.length > 0) {\n    report.push(`### ${type.toUpperCase()}`);\n    for (const r of results) {\n      const icon = r.passed ? 'PASS' : 'FAIL';\n      report.push(`- [${icon}] ${r.test_name}`);\n    }\n    report.push('');\n  }\n}\n\nreturn [{ json: { ...summary, ai_analysis: aiAnalysis, report_md: report.join('\\n') } }];"
      },
      "id": "format-report",
      "name": "Format Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2480, 300]
    },
    {
      "parameters": {
        "jsCode": "const summary = $('Generate Summary').item.json;\n\nconst report = [\n  '# PROMIN Antenna Studio — Regression Test Report',\n  '',\n  `**Date:** ${summary.timestamp}`,\n  `**Status:** ${summary.status}`,\n  `**Pass Rate:** ${summary.pass_rate} (${summary.passed}/${summary.total_tests})`,\n  '',\n  'All tests passed. No regression detected.',\n  '',\n  '## Results by Type',\n  '',\n];\n\nfor (const [type, results] of Object.entries(summary.results_by_type)) {\n  if (results.length > 0) {\n    report.push(`### ${type.toUpperCase()}`);\n    for (const r of results) {\n      report.push(`- [PASS] ${r.test_name}`);\n    }\n    report.push('');\n  }\n}\n\nreturn [{ json: { ...summary, report_md: report.join('\\n') } }];"
      },
      "id": "format-pass",
      "name": "Format All-Pass Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 560]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/nickolay-github/antenna-engine/issues",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GITHUB_TOKEN }}" },
            { "name": "Accept", "value": "application/vnd.github.v3+json" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: 'Regression detected: ' + $json.failed + ' test(s) failed (' + $json.pass_rate + ' pass rate)', body: $json.report_md, labels: ['regression', 'automated'] }) }}",
        "options": { "timeout": 30000 }
      },
      "id": "gh-create-issue",
      "name": "GitHub Create Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2720, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json, null, 2) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-fail",
      "name": "Respond (Failures)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2960, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json, null, 2) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-pass",
      "name": "Respond (All Pass)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2480, 560]
    },
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [200, 800]
    },
    {
      "parameters": {
        "jsCode": "const error = $input.item.json;\nconsole.error('ae-regression-test error:', JSON.stringify({\n  error: error.execution?.error?.message || 'Unknown',\n  node: error.execution?.lastNodeExecuted || 'unknown',\n  timestamp: new Date().toISOString()\n}));\nreturn [{ json: { status: 'error', message: error.execution?.error?.message } }];"
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 800]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Define 55 Test Cases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 3AM": {
      "main": [
        [
          {
            "node": "Define 55 Test Cases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define 55 Test Cases": {
      "main": [
        [
          {
            "node": "Batch of 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch of 5": {
      "main": [
        [
          {
            "node": "Run Solver",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Solver": {
      "main": [
        [
          {
            "node": "Compare Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Results": {
      "main": [
        [
          {
            "node": "Batch of 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Results": {
      "main": [
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary": {
      "main": [
        [
          {
            "node": "Any Failures?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Failures?": {
      "main": [
        [
          {
            "node": "Claude Analyze Failures",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format All-Pass Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Analyze Failures": {
      "main": [
        [
          {
            "node": "Format Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Report": {
      "main": [
        [
          {
            "node": "GitHub Create Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create Issue": {
      "main": [
        [
          {
            "node": "Respond (Failures)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format All-Pass Report": {
      "main": [
        [
          {
            "node": "Respond (All Pass)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opus LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Claude Analyze Failures",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "promin-antenna-studio"
  },
  "tags": [
    { "name": "antenna-engine" },
    { "name": "regression" },
    { "name": "testing" }
  ],
  "active": true
}