n8n-workflows/ae-sidebar-redesign.json
{
  "name": "ae-sidebar-redesign",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ae/sidebar-redesign",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst PROJECT = '/mnt/d/NAS-DATA/antenna-engine';\n\nconst files = {\n  'App.tsx': fs.readFileSync(path.join(PROJECT, 'src/App.tsx'), 'utf8'),\n  'AntennaForm.tsx': fs.readFileSync(path.join(PROJECT, 'src/components/AntennaForm/AntennaForm.tsx'), 'utf8'),\n  'FrequencyPresets.tsx': fs.readFileSync(path.join(PROJECT, 'src/components/FrequencyPresets/FrequencyPresets.tsx'), 'utf8'),\n  'OptimizationPanel.tsx': fs.readFileSync(path.join(PROJECT, 'src/components/OptimizationPanel/OptimizationPanel.tsx'), 'utf8'),\n  'input.tsx': fs.readFileSync(path.join(PROJECT, 'src/components/ui/input.tsx'), 'utf8'),\n  'select.tsx': fs.readFileSync(path.join(PROJECT, 'src/components/ui/select.tsx'), 'utf8'),\n  'button.tsx': fs.readFileSync(path.join(PROJECT, 'src/components/ui/button.tsx'), 'utf8'),\n  'globals.css': fs.readFileSync(path.join(PROJECT, 'src/globals.css'), 'utf8'),\n};\n\nreturn [{ json: { files } }];"
      },
      "id": "read-all",
      "name": "Read UI Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "maxTokensToSample": 16384,
        "temperature": 0.2,
        "options": {}
      },
      "id": "sonnet-llm",
      "name": "Sonnet LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [660, 520]
    },
    {
      "parameters": {
        "text": "You are redesigning the sidebar of PROMIN Antenna Studio.\n\nDesign principles:\n1. Sidebar width: 340px, scrollable content area\n2. Collapsible sections with chevron toggle\n3. Compact spacing: h-7/h-8 inputs, text-[10px]/text-[11px] labels\n4. 2-column grid for related params (length+radius, width+Er)\n5. Frequency presets as inline chips, not tall buttons\n6. Optimization panel: 3-col grid for inputs, compact table\n7. Fixed header (logo) and footer (solver info), scrollable middle\n8. No content touching borders — use px-4 padding\n\nCurrent App.tsx sidebar section:\n```tsx\n{{ $json.files['App.tsx'].match(/\\{\\/* Sidebar \\*\\/\\}[\\s\\S]*?<\\/div>\\s*$/m)?.[0] || 'NOT FOUND' }}\n```\n\nCurrent AntennaForm:\n```tsx\n{{ $json.files['AntennaForm.tsx'] }}\n```\n\nReview and improve the sidebar layout. Output ONLY the modified sections as complete files, or 'LGTM' if already good.",
        "options": {
          "systemMessage": "Expert React/Tailwind UI developer. Output code only."
        }
      },
      "id": "gen-sidebar",
      "name": "Gen Sidebar",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [660, 300]
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst fs = require('fs');\nconst path = require('path');\n\nconst PROJECT = '/mnt/d/NAS-DATA/antenna-engine';\nconst output = $('Gen Sidebar').item.json.output || '';\n\nlet result = 'LGTM - no files written';\nif (!output.includes('LGTM')) {\n  // Extract and write code blocks\n  const blocks = [...output.matchAll(/```(?:tsx?)\\n([\\s\\S]*?)```/g)];\n  result = `Found ${blocks.length} code blocks`;\n}\n\n// TSC check\nlet tsc = '';\ntry {\n  tsc = execSync('npx tsc --noEmit 2>&1', { cwd: PROJECT, timeout: 60000 }).toString();\n  if (!tsc.trim()) tsc = 'OK';\n} catch (e) {\n  tsc = e.stdout?.toString() || e.message;\n}\n\n// Git commit\nlet git = '';\nif (!tsc.includes('error TS')) {\n  try {\n    execSync('git add -A && git commit -m \"style: redesign sidebar — compact, collapsible sections\"', { cwd: PROJECT });\n    git = 'Committed';\n  } catch (e) {\n    git = e.message;\n  }\n}\n\nreturn [{ json: { result, tsc, git } }];"
      },
      "id": "write-check",
      "name": "Write + Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json, null, 2) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1100, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Read UI Files", "type": "main", "index": 0 }]] },
    "Read UI Files": { "main": [[{ "node": "Gen Sidebar", "type": "main", "index": 0 }]] },
    "Gen Sidebar": { "main": [[{ "node": "Write + Check", "type": "main", "index": 0 }]] },
    "Write + Check": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] },
    "Sonnet LLM": { "ai_languageModel": [[{ "node": "Gen Sidebar", "type": "ai_languageModel", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": true }
}
