n8n-workflows/ae-ui-codegen.json
{
  "name": "ae-ui-codegen",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ae/ui-codegen",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst PROJECT = '/mnt/d/NAS-DATA/antenna-engine';\nconst SRC = path.join(PROJECT, 'src');\n\nconst readFile = (rel) => {\n  try { return fs.readFileSync(path.join(SRC, rel), 'utf8'); }\n  catch { return '// FILE NOT FOUND'; }\n};\n\n// Read ui-spec from previous pipeline\nlet uiSpec = '{}';\ntry {\n  uiSpec = fs.readFileSync(path.join(PROJECT, '.claude/ui-spec.json'), 'utf8');\n} catch (e) {\n  uiSpec = JSON.stringify({ error: 'ui-spec.json not found — run ae-ui-design-spec first' });\n}\n\n// Read ALL source files that will be modified\nconst files = {\n  'index.css': readFile('index.css'),\n  'App.tsx': readFile('App.tsx'),\n  'button.tsx': readFile('components/ui/button.tsx'),\n  'input.tsx': readFile('components/ui/input.tsx'),\n  'select.tsx': readFile('components/ui/select.tsx'),\n  'card.tsx': readFile('components/ui/card.tsx'),\n  'tabs.tsx': readFile('components/ui/tabs.tsx'),\n  'label.tsx': readFile('components/ui/label.tsx'),\n  'badge.tsx': readFile('components/ui/badge.tsx'),\n  'AntennaForm.tsx': readFile('components/AntennaForm/AntennaForm.tsx'),\n  'FrequencyPresets.tsx': readFile('components/FrequencyPresets/FrequencyPresets.tsx'),\n  'OptimizationPanel.tsx': readFile('components/OptimizationPanel/OptimizationPanel.tsx'),\n  'SmithChart.tsx': readFile('components/SmithChart/SmithChart.tsx'),\n  'RadiationPatternView.tsx': readFile('components/RadiationPatternView.tsx'),\n  'AntennaViewport.tsx': readFile('viewport/AntennaViewport.tsx'),\n};\n\nreturn [{ json: { uiSpec, files } }];"
      },
      "id": "read-all",
      "name": "Read Spec + Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "maxTokensToSample": 16384,
        "temperature": 0.1,
        "options": {}
      },
      "id": "sonnet-llm",
      "name": "Sonnet LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [1100, 520]
    },
    {
      "parameters": {
        "text": "You are generating the design tokens CSS file for PROMIN Antenna Studio.\n\nUI Spec (tokens section):\n{{ $json.uiSpec }}\n\nCurrent index.css:\n{{ $json.files['index.css'] }}\n\nGenerate the COMPLETE new index.css file. Requirements:\n1. Keep `@import \"tailwindcss\";` at the top\n2. Use `@theme { }` block for all CSS custom properties\n3. Include ALL tokens from the spec: colors, spacing, typography, radius, shadows, transitions, z-index, sizes, chart colors\n4. Keep the dark theme aesthetic (deep indigo/slate backgrounds)\n5. Ensure smooth-scrolling and font-family are preserved\n6. Add any utility classes needed (e.g., .scrollbar-thin, transitions)\n\nOutput the COMPLETE file content wrapped in:\n<file path=\"src/index.css\">\n...complete CSS content...\n</file>\n\nOutput ONLY the file block, no explanations.",
        "options": {
          "systemMessage": "You are a CSS design system engineer. You generate complete, production-ready CSS files with comprehensive design tokens. Use Tailwind CSS 4 @theme syntax. Output only the file block."
        }
      },
      "id": "gen-tokens",
      "name": "Gen Tokens",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [660, 300]
    },
    {
      "parameters": {
        "text": "You are updating ALL 7 UI primitive components for PROMIN Antenna Studio.\n\nUI Spec:\n{{ $('Read Spec + Files').item.json.uiSpec }}\n\nTokens generated by previous agent:\n{{ $('Gen Tokens').item.json.output }}\n\nCurrent primitives:\n\nbutton.tsx:\n{{ $('Read Spec + Files').item.json.files['button.tsx'] }}\n\ninput.tsx:\n{{ $('Read Spec + Files').item.json.files['input.tsx'] }}\n\nselect.tsx:\n{{ $('Read Spec + Files').item.json.files['select.tsx'] }}\n\ncard.tsx:\n{{ $('Read Spec + Files').item.json.files['card.tsx'] }}\n\ntabs.tsx:\n{{ $('Read Spec + Files').item.json.files['tabs.tsx'] }}\n\nlabel.tsx:\n{{ $('Read Spec + Files').item.json.files['label.tsx'] }}\n\nbadge.tsx:\n{{ $('Read Spec + Files').item.json.files['badge.tsx'] }}\n\nUpdate each primitive to use the new design tokens. For each:\n- Use the new spacing, sizing, color tokens from @theme\n- Add proper hover/focus/active/disabled states\n- Support size variants (sm/md/lg) where applicable\n- Use CVA (class-variance-authority) for variants\n- Keep TypeScript types correct\n- Keep existing API (props interface) backward-compatible\n\nOutput ALL 7 files:\n<file path=\"src/components/ui/button.tsx\">\n...complete file...\n</file>\n<file path=\"src/components/ui/input.tsx\">\n...complete file...\n</file>\n<file path=\"src/components/ui/select.tsx\">\n...complete file...\n</file>\n<file path=\"src/components/ui/card.tsx\">\n...complete file...\n</file>\n<file path=\"src/components/ui/tabs.tsx\">\n...complete file...\n</file>\n<file path=\"src/components/ui/label.tsx\">\n...complete file...\n</file>\n<file path=\"src/components/ui/badge.tsx\">\n...complete file...\n</file>\n\nOutput ONLY the file blocks, no explanations.",
        "options": {
          "systemMessage": "You are a React component library developer. You build accessible, well-typed UI primitives with CVA variants and Tailwind CSS. Output only file blocks."
        }
      },
      "id": "gen-primitives",
      "name": "Gen Primitives",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [880, 300]
    },
    {
      "parameters": {
        "text": "You are updating the sidebar components for PROMIN Antenna Studio.\n\nUI Spec:\n{{ $('Read Spec + Files').item.json.uiSpec }}\n\nNew tokens (from Gen Tokens):\n{{ $('Gen Tokens').item.json.output }}\n\nNew primitives (from Gen Primitives) — use these updated components:\n{{ $('Gen Primitives').item.json.output }}\n\nCurrent sidebar files:\n\nAntennaForm.tsx:\n{{ $('Read Spec + Files').item.json.files['AntennaForm.tsx'] }}\n\nFrequencyPresets.tsx:\n{{ $('Read Spec + Files').item.json.files['FrequencyPresets.tsx'] }}\n\nOptimizationPanel.tsx:\n{{ $('Read Spec + Files').item.json.files['OptimizationPanel.tsx'] }}\n\nUpdate sidebar components following the spec:\n1. AntennaForm: collapsible sections, 2-column grid for related params, proper spacing, unit badges\n2. FrequencyPresets: compact chip/pill layout, inline chips instead of tall buttons\n3. OptimizationPanel: 3-column grid for min/max/step, compact table, enable/disable toggles\n\nPreserve ALL existing functionality (types, exports, props, logic). Only change the JSX layout and Tailwind classes.\n\nOutput ALL 3 files:\n<file path=\"src/components/AntennaForm/AntennaForm.tsx\">\n...complete file...\n</file>\n<file path=\"src/components/FrequencyPresets/FrequencyPresets.tsx\">\n...complete file...\n</file>\n<file path=\"src/components/OptimizationPanel/OptimizationPanel.tsx\">\n...complete file...\n</file>\n\nOutput ONLY the file blocks, no explanations.",
        "options": {
          "systemMessage": "You are a React sidebar component developer for engineering tools. You create compact, information-dense layouts with proper spacing. Preserve all TypeScript types and component APIs. Output only file blocks."
        }
      },
      "id": "gen-sidebar",
      "name": "Gen Sidebar",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "text": "You are updating the main area components for PROMIN Antenna Studio.\n\nUI Spec:\n{{ $('Read Spec + Files').item.json.uiSpec }}\n\nCurrent files:\n\nApp.tsx (FULL FILE — update the layout grid, sidebar width, tab area):\n{{ $('Read Spec + Files').item.json.files['App.tsx'] }}\n\nSmithChart.tsx:\n{{ $('Read Spec + Files').item.json.files['SmithChart.tsx'] }}\n\nRadiationPatternView.tsx:\n{{ $('Read Spec + Files').item.json.files['RadiationPatternView.tsx'] }}\n\nUpdate:\n1. App.tsx: implement 3-column CSS Grid layout from spec, resizable sidebar with proper min/max width, tab area with proper spacing, responsive breakpoints\n2. SmithChart.tsx: chart container with header, responsive sizing, proper chart colors from tokens\n3. RadiationPatternView.tsx: responsive layout, chart color palette from tokens\n\nPreserve ALL existing functionality (state, solver logic, imports). Only change layout JSX and Tailwind classes.\n\nOutput ALL 3 files:\n<file path=\"src/App.tsx\">\n...complete file...\n</file>\n<file path=\"src/components/SmithChart/SmithChart.tsx\">\n...complete file...\n</file>\n<file path=\"src/components/RadiationPatternView.tsx\">\n...complete file...\n</file>\n\nOutput ONLY the file blocks, no explanations.",
        "options": {
          "systemMessage": "You are a React layout engineer for simulation software. You implement responsive grid layouts with resizable panels. Preserve all business logic and TypeScript types. Output only file blocks."
        }
      },
      "id": "gen-main",
      "name": "Gen Main Area",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "text": "You are updating the 3D viewport UI for PROMIN Antenna Studio.\n\nUI Spec:\n{{ $('Read Spec + Files').item.json.uiSpec }}\n\nCurrent viewport:\nAntennaViewport.tsx:\n{{ $('Read Spec + Files').item.json.files['AntennaViewport.tsx'] }}\n\nUpdate the viewport component:\n1. Add toolbar overlay (top-left): rotate/pan/zoom mode buttons, view presets (front/top/iso), wireframe toggle\n2. Improve background (subtle gradient or grid)\n3. Update ground plane styling from spec\n4. Add viewport header with antenna name\n5. Proper z-index for overlays from token system\n\nPreserve ALL existing 3D logic (React Three Fiber, antenna models, camera). Only update the overlay UI and styling.\n\nOutput the file:\n<file path=\"src/viewport/AntennaViewport.tsx\">\n...complete file...\n</file>\n\nOutput ONLY the file block, no explanations.",
        "options": {
          "systemMessage": "You are a React Three Fiber developer. You create 3D viewport overlays for engineering tools. Preserve all 3D scene logic. Output only file blocks."
        }
      },
      "id": "gen-viewport",
      "name": "Gen Viewport",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst fs = require('fs');\nconst path = require('path');\n\nconst PROJECT = '/mnt/d/NAS-DATA/antenna-engine';\nconst SRC = path.join(PROJECT, 'src');\n\n// Collect all agent outputs and extract file blocks\nconst agents = [\n  'Gen Tokens',\n  'Gen Primitives',\n  'Gen Sidebar',\n  'Gen Main Area',\n  'Gen Viewport',\n];\n\nconst fileRegex = /<file path=\"([^\"]+)\">\\n?([\\s\\S]*?)<\\/file>/g;\nconst results = {};\nlet filesWritten = 0;\n\nfor (const agentName of agents) {\n  try {\n    const output = $(agentName).item.json.output || '';\n    let match;\n    const regex = new RegExp(fileRegex.source, fileRegex.flags);\n    while ((match = regex.exec(output)) !== null) {\n      const filePath = match[1];\n      const content = match[2].trim();\n      const fullPath = path.join(PROJECT, filePath);\n      \n      // Ensure directory exists\n      const dir = path.dirname(fullPath);\n      if (!fs.existsSync(dir)) fs.mkdirSync(dir, { recursive: true });\n      \n      fs.writeFileSync(fullPath, content);\n      results[filePath] = `WRITTEN (${content.length} chars)`;\n      filesWritten++;\n    }\n    if (!output.match(fileRegex)) {\n      results[agentName] = 'NO FILE BLOCKS FOUND';\n    }\n  } catch (e) {\n    results[agentName] = `ERROR: ${e.message}`;\n  }\n}\n\n// Run TSC check\nlet tscResult = '';\ntry {\n  tscResult = execSync('npx tsc --noEmit 2>&1', { cwd: PROJECT, timeout: 120000 }).toString();\n  if (!tscResult.trim()) tscResult = 'OK - no errors';\n} catch (e) {\n  tscResult = e.stdout?.toString() || e.message;\n}\n\nreturn [{ json: { filesWritten, results, tscResult } }];"
      },
      "id": "write-tsc",
      "name": "Write + TSC Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 300]
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst PROJECT = '/mnt/d/NAS-DATA/antenna-engine';\n\nconst tsc = $json.tscResult || '';\nlet gitResult = '';\n\nif (tsc.includes('OK - no errors') || !tsc.includes('error TS')) {\n  try {\n    execSync('git add -A', { cwd: PROJECT });\n    execSync(`git commit -m \"style: ground-up UI/UX redesign — new tokens, primitives, layout\\n\\nApplied comprehensive design token system.\\nUpdated all 7 UI primitives with size variants and states.\\nRedesigned sidebar: collapsible sections, compact spacing.\\nNew 3-column grid layout with resizable panels.\\nChart components use new color palette.\\nViewport overlay toolbar added.\"`, { cwd: PROJECT });\n    execSync('git push origin main', { cwd: PROJECT });\n    gitResult = 'Committed and pushed';\n  } catch (e) {\n    gitResult = `Git error: ${e.message}`;\n  }\n} else {\n  gitResult = 'Skipped commit — TSC errors found';\n}\n\nreturn [{ json: { ...$json, gitResult } }];"
      },
      "id": "git-commit",
      "name": "Git Commit + Push",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json, null, 2) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2200, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Read Spec + Files", "type": "main", "index": 0 }]]
    },
    "Read Spec + Files": {
      "main": [[{ "node": "Gen Tokens", "type": "main", "index": 0 }]]
    },
    "Gen Tokens": {
      "main": [[{ "node": "Gen Primitives", "type": "main", "index": 0 }]]
    },
    "Gen Primitives": {
      "main": [[{ "node": "Gen Sidebar", "type": "main", "index": 0 }]]
    },
    "Gen Sidebar": {
      "main": [[{ "node": "Gen Main Area", "type": "main", "index": 0 }]]
    },
    "Gen Main Area": {
      "main": [[{ "node": "Gen Viewport", "type": "main", "index": 0 }]]
    },
    "Gen Viewport": {
      "main": [[{ "node": "Write + TSC Check", "type": "main", "index": 0 }]]
    },
    "Write + TSC Check": {
      "main": [[{ "node": "Git Commit + Push", "type": "main", "index": 0 }]]
    },
    "Git Commit + Push": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    },
    "Sonnet LLM": {
      "ai_languageModel": [
        [{ "node": "Gen Tokens", "type": "ai_languageModel", "index": 0 }],
        [{ "node": "Gen Primitives", "type": "ai_languageModel", "index": 0 }],
        [{ "node": "Gen Sidebar", "type": "ai_languageModel", "index": 0 }],
        [{ "node": "Gen Main Area", "type": "ai_languageModel", "index": 0 }],
        [{ "node": "Gen Viewport", "type": "ai_languageModel", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": true, "instanceId": "promin-antenna-studio" },
  "tags": [{ "name": "antenna-engine" }]
}
